<div class="row header">
  <div class="column column-50 column-offset-25">
    <center>
      <img src="https://www.theodinproject.com/assets/odin_head_silhouette_2_circle_simple_transparent-b2ee08a8bcec81a04d793cc3e151d6a0c261be84f9830705bfa78587f57026dc.gif" alt="">
      <h1>Odin Flight Book</h1>
    </center>
  </div>
</div>
<div class="row search-form">
  <div class="column column-50 column-offset-25">
    <%= form_tag flights_path, method: :get, remote: true do |f| %>
    <div class="row">
      <div class="column column-50">
        <%= label_tag :origin_id, 'From' %>
        <%= select_tag :origin_id, options_from_collection_for_select(@airports, :id, :airport_code), prompt: "From" %>
        <%= label_tag :departure_date, 'Departure Date' %>
        <%= select_tag :departure_date,  options_for_select(@date), prompt: "Date" %>
        <%= submit_tag 'Search', :id => 'search' %>
      </div>
      <div class="column column-50">
        <%= label_tag :destination_id, 'To' %>
        <%= select_tag :destination_id, options_from_collection_for_select(@airports, :id, :airport_code), prompt: "To" %>
        <%= label_tag :seats, "Passengers" %>
        <%= select_tag :seats, options_for_select(1..4), prompt: "Passengers" %>
      </div>
    </div>
    <% end %>
  </div>
</div>



<div class="flights">
</div>
<div id="booking">
</div>
