<div class="row">
  <div class="column column-50 column-offset-25 info">
    <center><h1>Your Booking Information</h1></center>
    <%= render 'flights/flight_info' %>
    <h2>Passengers Information</h2>
    <%= form_for :bookings, url: url_for( :controller => :bookings, :action => :create ), method: :post do |booking| %>
      <%=  booking.hidden_field :flight_id, :values => '1' %>
      <%= booking.fields_for :passengers do |passenger| %>
      <%= passenger.label :first_name, "First Name" %>
      <%= passenger.text_field :first_name %>
      <%= passenger.label :last_name, "Last Name" %>
      <%= passenger.text_field :last_name %>
      <%= passenger.label :email, "Email" %>
      <%= passenger.text_field :emai %>
      <% end %>
      <%= booking.submit 'Order tickets' %>
    <% end %>
  </div>
</div>
